{% extends 'base.html.twig' %}

{% block title %}Matières{% endblock %}

{% block body %}
    <h1 class="text-center">Matières</h1>

    {{ include('/subject/_partials/_filter.html.twig') }}

    </br>

    {{ include('/subject/_partials/_subjects.html.twig') }}


{% endblock %}
