// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

$primary: #4a3d8a;
$danger: #ff4136;
$light: #dae3f2;
$white: #ffffff;
$dark: #050405;
$secondary: #4868cf;
$info: #8fa8f9;
$success: #17b16b;
$warning: #e48315;

 $theme-colors: (
        "primary": $primary,
        "danger": $danger,
        "light": $light,
        "white": $white,
        "dark": $dark,
        "secondary": $secondary,
        "info": $info,
        "success": $success,
        "warning": $warning
);


@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/bootstrap";

h1{
  text-align: center;
}

.bi{
  width: 1.5em;
  height: 1.5em;
  vertical-align: -.125em;
  fill: currentcolor;
}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.btn-bd-primary{
  background-color: #4a3d8a ;
  color: white;
}

.dropdown-item:active{
  background-color: #4a3d8a;
}

.dropdown-item:hover{
  background-color: #4a3d8a;
  color: white;
}

.dropdown-item.active, .dropdown-item:active{
  background-color: #4a3d8a;
  color: white;
}

.active > .page-link, .page-link.active{
  background-color: #4a3d8a;
  color: white;
  border-color : white;
}

.wishForm{
  display: flex;
  flex-direction: column;
}
