
.table-container {
    margin: 50px auto;
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.repartition {
    padding: 15px;
    margin: 0;
    background-color: #4a3d8a;
    border-radius: 5px 5px 0 0;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 0 0 5px 5px;
    margin-top: 10px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.MuiPagination-ul {
    justify-content: center;
    margin-top: 20px;
}

.MuiDialog-paper {
    width: 400px;
}

.MuiDialogActions-root {
    padding: 15px;
}

.MuiDialogActions-root > :last-child {
    margin-left: auto;
}

#repartition_btn {
    margin-right: 10px;
    margin-bottom: 10px;
}


.pagination-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    background-color: #EFEFEF;
    border-radius: 10px;
    width: 30%;
}



.MuiPaginationItem{
    color: white;
}
